@font-face{ 
  font-family: 'calibre-bold';
  src: font-url('calibre-bold.eot');
  src: font-url('calibre-bold.eot?#iefix') format('embedded-opentype'),
       font-url('calibre-bold.woff') format('woff'),
       font-url('calibre-bold.ttf') format('truetype'),
       font-url('calibre-bold.svg#webfont') format('svg');
}