@import "bootstrap-sprockets";
@import "bootstrap";
@import "border-boxing";
@import "calibre"; //custom font

//* variables
$accent: #6f7e9d;
$text: #868686;

//* Misc
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Open Sans', Sans-serif;
}

//* Navbar
.navbar-default {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;

  .navbar-brand {
    color: white;
    &:hover {
      color: white;
    }
  }
  
  #links a {
    color: white;
  }
}

//* Welcome Header
.welcome {
  height: 100%;
  max-width: auto;
  background-attachment: fixed;
  background-image: image-url('sea.jpg');
  text-align: center;

  .header-content {
    font-family: 'calibre-bold', 'Open Sans';
    color: white;
    margin-top: 35%;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      margin-top: 50%;
    }
    h1 {
      font-size: 50px;
      letter-spacing: 3px;
    }
  }
  .more {
      margin-top: 18%;
      background-color: transparent;
      padding: 12px 26px;
      border: 1px solid;
      border-color: white;
      color: white;
  }
}
// ===============================================================================
#about {
  text-align: center;
  color: #868686;
  padding: 50px 0;

  .profile-header {
    margin: 20px 0 5px 0;
    h1 {
      font-family: Oxygen, 'Helvetica Neue', 'Open Sans';
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $accent;
      padding: 20px 0;
    }
    .spacer {
      width: 100px;
      height: 2px;
      margin: auto;
      background-color: $accent;
    }

    p {
      padding: 30px;
      font-size: 20px;
    }
  }

  .profile {
    width: 250px;
    height: 243px;
    border: 5px solid #333;
    img {
      width: 100%;
      height: auto;
    }

  }

  .content {
    margin-top: 20px;
    text-align: left;
    line-height: 1.5;
  }
}




// ================================================================================


// .profile-header {
//   margin-top: 4%;
//   text-align: center;
//   color: $accent;

//   h1 {
//     margin: 4% 0 2% 0;
//     font-family: Oxygen, 'Helvetica Neue', 'Open Sans';
//     text-transform: uppercase;
//   }

//   .title-accent {
//     margin: auto;
//     width: 120px;
//     border: 1px solid;
//     border-color: $accent;
//   }
// }

// .img-container {
//   margin-top: 3%;
//   .headshot {
//     margin: auto;
//     width: 300px;
//     height: 300px;
//     border-radius: 50%;
//     background-image: image-url('headshot1.jpg')
//   }

// }


// .profile-content-container {
//   margin: 5% 0;
//   .content {
//     color: $accent;
//     p {
//       color: #868686;
//       font-size: 17px;
//       line-height: 27px;

//     }
//   }

//   // Aside Skills
//   .skills-container {
//     dl {
//       padding-left: 25%;
//       @media screen and (max-width: 767px) {
//         padding: 0;
//         text-align: center;
//       }
//     }
//     .skills {
//       h2 {
//         color: $accent;
//       }
//     }
//     .skill-list {
//       font-size: 17px;
//     }
//   }
// }

//* Contact Section
#contact {
  background-color: lightgray;
  text-align: center;
  padding: 50px 0;
  .contact-header {
    margin: 20px 0 5px 0;

    h1 {
      font-family: Oxygen, 'Helvetica Neue', 'Open Sans';
      text-transform: uppercase;
      letter-spacing: 3px;
      color: $accent;
      padding: 20px 0;
    }

    .spacer {
      width: 100px;
      height: 2px;
      margin: auto;
      background-color: $accent;
    }
  }

  .contact-content {
      margin: 3% 0;
    .social-links {

      a {
        margin: 0 6px;
      }
    }
  }
}

//* Footer

footer {
  padding: 50px;
  background-position: 50% 35%;
  background-image: image-url('sea.jpg');
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 700;

  @media screen and (max-width: 767px) {
    text-align: center;
    a {
      display: block;
    }
  }
  #links {
    a {
      color: white;
      &:hover {
        background: transparent;
      }
    }
  }

  .copyright {
    span {
      font-size: 13px;
      color: white;
    }
  }
}