<!-- Profile section -->
<section>
  <div class="container" id="about">
    <!-- Profile image and Section title -->
    <header class="profile-header row">
      <div class="img-container">
        <div class="headshot"></div>
      </div>
      <h1>About Me</h1>
      <div class="title-accent"></div>
    </header><!-- End Header row -->

    <!-- profile content section row -->
    <div class="profile-content-container row">
      <!-- About me content -->
      <div class="col-sm-7 content">
        <h2 class="profile-title">Hello and welcome to my site.</h2>  
        <p>I'm a web developer located in Downtown Los Angeles. My love for coding and developing started with a simple programming tutorial online. Flash forward a couple months later, and now I'm on a quest to becoming a full stack Rails developer. On my spare time I enjoy going to developer meetups, or playing games online. Also I'm a huge Lakers fan!</p>
      </div><!-- End about me -->

      <!-- Technical skills column -->
      <div class="skills-container col-sm-4 col-sm-offset-1">
        <dl>
          <dt class="skills"><h2>Technologies</h2></dt>
            <dd>
              <li class="skill-list">Ruby on Rails</li>
              <li class="skill-list">HTML5/CSS3</li>
              <li class="skill-list">Sass</li>
              <li class="skill-list">Bootstrap 3</li>
            </dd>
        </dl>
      </div><!-- End Skills column -->
    </div><!-- End profile content row -->
  </div>
</section><!-- End profile section -->