<footer class="container-fluid">
  <div class="container">
    <div class="row footer-container">
      <div class="col-sm-12">
        <ul class="nav navbar-nav" id="links">
          <li><a href="#page-top">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <p class="navbar-text navbar-right copyright"><span>All Content Copyright 2015</span></p>
      </div>
    </div><!-- End footer container -->
  </div><!-- End Container -->

</footer>