<section id="about">
  <div class="container">
    <header class="profile-header">
      <h1>About Me </h1>
      <div class="spacer"></div>
      <p>Software Engineer at Viking Code School</p>
    </header>
    <div class="profile-content row">

      <div class="col-sm-3">
        <div class="profile"><img alt="profile pic" src="/assets/headshot.jpg"></div>
      </div>

      <div class="col-sm-9 content">
        <p>I'm a student currently enrolled in <a href="http://www.vikingcodeschool.com">VikingCodeSchool's</a> January Cohort, expected to graduate in May of 2016. My interest for coding and development started with building simple programs I found online. Now I'm on a quest to becoming a full stack Rails developer.</p>
        <p>On my spare time I enjoy going to developer meetups and meeting like minded people. Also, I'm a passionate gamer since childhood and do enjoy playing games online or just simply watching esports.</p>
      </div>
    </div>
  </div>
</section>