<!-- Header section for Name and personality info -->
    <header class="welcome">
      <div class="container">
        <div class="header-content row">
          <div class="col-sm-12">
            <h1>Thomas Lo</h1>
            <p>Developer // Designer</p>
            <a class="more btn btn-default" href="#about">Scroll</a>
          </div>
        </div>
      </div>
    </header>